
body {
	padding: 0px;
	margin: 0px;
	background: grey;
}
one {
	height: auto;	
}
.head {
	background: lime;
	width: 70%;
	margin: auto;
	text-align: center;
	height: 10%;
}
div {
	display: table;
}
.left {
	background: red;
	width: 30%;
	margin: auto;
	text-align: center;
	display: table-cell;
	height: 80%;
}
.right {
	background: blue;
	width: 70%;
	margin: auto;
	text-align: center;
	display: table-cell;
	height: 80%;
}
.foot {
	background: lime;
	width: 70%;
	margin: auto;
	text-align: center;
	height: 10%;
}
div.head:first-of-type {
	background: silver;
}
div.foot:last-child {
	background: pink;
}