		body {
			background: #32cd32; 
		}
		.class {
			background: #00ffff;
			font-size: 20px;
			font-style: italic;
		}
		.new {
			background: #00ffff;
		}
		.red, p {
			color: red;
		}
		.italic {
			font-style: italic;
		}
		.bold {
			font-weight: bold;
		}
		.new:hover {
			background: lime;
		}
		*:focus {
			background: silver;
		}
		.position a {
			display: table-cell;
			background: purple;
			font-family: "trebuchet ms", helvetica, sans-serif;
			size: 1em;
			color: lime;
			width: 200px;
			height: 100px;
			text-align: center;
			vertical-align: middle;
			position: fixed;
			bottom: 20px;
			right: 40px;
		}
		div.position {
			display: table;
		}
		.rel {
			background:  navy;
			width: 500px;
			height: 300px;
			position: relative;
		}
		.abs {
			background: silver;
			width: 70%;
			height: 200px;
			position: absolute;
			margin-left: 15%;
			top: 70px;
		}
		
		
		
		
		
		
		
		
		