body {
	margin: 0px;
	padding: 0px;
	background: navy;
	text-align: center;
}
* {
	box-sizing: border-box;
}
img {
	max-width: 100%;
}
img.map {
	width: 50%;
}
@media only screed and (max-width: 700px) {
	.map {
		width: 49.99999%;
		margin: 6px 0px;
	}
}
@media only screen and (max-width: 500px) {
	.map {
		width: 100%;
	}
}
div {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}
div.container {
	width: 100%;
	height: 100%;
	background: lime;
	position: relative;
	margin: 0px;
	padding: 0px;
}
.water, .middle, .left, .right {
	float: left;
	height: 100%;
}
.water {
	max-width: 15%;
	height: auto;
}
div.middle {
	display: inline-block;
	position: relative;
	background: magenta;
	border: 3px solid silver;
	width: 70%;
	height: auto;
}
table, th, td {
	width: 100%;
	z-index: 1;
}
th, td {
	padding: 1px;
	height: 40px;
	border-bottom: 3px solid navy;
	border-collapse: collapse;
}
tr:nth-child(odd) {
	background: darkorchid;
}
tr:nth-child(even) {
	background: magenta;
}
tr:hover {
	background: orchid;
}
.divTable {
	display: table;
	width: 100%;
}
.left, .right{
	display: table-cell;
	vertical-align: middle;
}
.left {
	width: 80%;
	height: 150px;
    align-self: center;
	padding: 5%;
}
.right {
	width: 20%;
}
span.date {
	text-decoration: overline;
}
img.flogo {
	width: 140px;
	height: 140px;
}