			body {
				background-color: purple;
				padding: 0px;
				margin: 0px;
				font-family: 'waltographregular';
			}
			* {
				box-sizing: border-box;
			}
			h1 {
				display: block;
				font-family: "trebuchet ms", helvetica, sans-serif;
				text-align: center;
				width: 80%;
				margin: auto;
			} 
			div.box {
				width: 900px;
				margin: auto;
				padding: 0px;
			}
			div {
				display: flex;
				flex-wrap: wrap;
				align-content: center;
				border: 3px solid black;
				padding: 10px;
				margin: auto;
				width: 900px;
			}
			.left, .right {
				float: left;
				height: 1000px;
				color: white;
				position: relative;
			}
			.left {
				width: 294px;
				background-color: green;
			}
			div .left .vert {
				transform: rotate(270deg);
			}
			.right {
				width: 600px;
				background-color: blue;
			}
			.head {
				background-color: red;
				color: blue;
				width: 900px;
				height: 150px;
			}
			div.foot {
				clear: both;
				background-color: white;
				color: black;
				width: 900px;
				height: 100px;
			}
			@font-face {
				font-family: 'waltographregular';
				src: url(/Font/Walt/otf/waltograph42-webfont.eot);
				src: url(/Font/Walt/otf/waltograph42-webfont.eot?#iefix),
					 url(/Font/Walt/otf/waltograph42-webfont.woff2) format('woff2'),
					 url(/Font/Walt/otf/waltograph42-webfont.woff) format('woff'),
					 url(/Font/Walt/otf/waltograph42-webfont.ttf) format('truetype'),
					 url(/Font/Walt/otf/waltograph42-webfont.svg#waltographregular) format('svg');
				font-weight: normal;
				font-style: normal;
			}